<div id="wrapper">
  <h1>TechCrunch Scraper</h1>
  <main id="articles">
    <ul>
      {{#each articles}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </main>
  <aside id="notes"></aside>
</div>